<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h1>New User</h1>
    <form method="post" action="/users/add">
        <input name="id" type="text" placeholder="New ID" >
        <input name="username" type="text" placeholder="New Username">
        <textarea name="email" id="" placeholder="New Email"></textarea>
        <button type="submit">Submit</button>
    </form>
        
</body>
</html>